<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <th:block th:replace="fragments/shared :: head-css"></th:block>
</head>
<body>
<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo" th:href="@{login}">
              <img class="img-fluid for-light" th:src="@{/assets/images/logo/logo.png}" alt="looginpage">
              <img class="img-fluid for-dark" th:src="@{/assets/images/logo/logo_dark.png}" alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <h2>Welcome</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <th:block th:replace="fragments/shared :: scripts-js"></th:block>
</div>
</body>
</html>